vendor/
hello.exe
lastupdate.tmp
*.exe~
*.exe
*.tmp
*.bak
hello
.fun/build/artifacts/meta.json
.fun/build/artifacts/.fun/tmp/deploy/template.yml
.fun/build/artifacts/template.yml
.fun/tmp/deploy/template.yml
*.gz
