<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>beego</title>
    </head>
    <body>
        <p>
            <a href="/beego">beego</a>
        </p>
        <p>
            <a href="/list">list</a>
        </p>
        <p>
            <a href="/helloworld">helloworld</a>
        </p>
    </body>
</html>
